


body{
	
	width: 100%
	height: 100%;
	position: relative;
	

}

#cabecera {
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 50px;	
	text-align: center;
	border:1px solid black;
	border-radius: 15px;
	color: white;
	background: linear-gradient(to left,black,violet);

}

form{

	height: 650px;
	background: rgb(255,255,191);
}

.campos{

	padding-top: 10px;
	width: 50%;
	margin-left: 40%;
	margin-right: auto;


}

input, button{
	
	font-size: 30px;
	border-radius: 15px;
	padding-left: 10px;
}

.button:hover {

	color: white;
	background-color: #3e8e41;
}

input:hover{
	

	
	border: 5px solid orange;
}

#contenido{
	
	padding-top: 15px;
	font-size: 30px;
	width: 25%;
	text-align: center; /*Centra las lineas de texto */
	/* Centra el párrafo */
	margin-left: 40%;
	margin-right: auto;


}


footer{

	position: fixed;
	bottom: 0;
	width: 100%;
	
	
}

#pie{
	
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	margin-bottom: 0;
	border: 1px solid black;
	border-radius: 15px;
	padding-left: 10px;
	background: linear-gradient(to left,violet,black);
}

